@font-face {
    font-family: 'aqua';
    src: url(../fonts/aqua.ttf) format("truetype");
}

body {
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.5em;
    font-family: 'aqua', 'Raleway', sans-serif;
    color: #373737;
}

.btn {
    background-color: #dcd0c0;
    color: #373737;
    font-family: 'Raleway';
    font-weight: bold;
}

.btn:hover {
    background-color: #c0b283;
}

.buttons {
    margin: 5px auto;
    text-align: center;
}

#timer {
    color: #373737;
    font-size: 7.5em;
    font-family: 'aqua', 'Raleway', sans-serif;
    margin: 0 auto;
    text-align: center;
    text-shadow: 1px 1px 1px #dcd0c0;
}

#index-circle {
    position: fixed;
    width: 60px;
    height: 60px;
    color: #373737;
    top: 10px;
    left: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    font-family: 'aqua', 'Raleway', sans-serif;
    line-height: 60px;
    text-shadow: 1px 1px 2px #dcd0c0;
    transition: 1s, color 0.5s;
}

#index-circle.animate {
    
    transform: scale(1.2);
    color: #c0b283;
}

footer {
    margin-top: 10px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 3.5em;
    color: #dcd0c0;
    display: none;
}

.fixed-action-btn {
    font-family: 'Raleway';
}

.fixed-action-btn>a {
    background-color: #373737;
}

.fixed-action-btn>a:hover {
    background-color: #5A5858;
}

.fixed-action-btn ul li:nth-child(1) {
    background-color: #9E936F;
}

.fixed-action-btn ul li:nth-child(1):hover {
    background-color: #c0b283;
}

.fixed-action-btn ul li:nth-child(2) {
    background-color: #BDB4A8;
}

.fixed-action-btn ul li:nth-child(2):hover {
    background-color: #c0b283;
}

.fixed-action-btn ul li:nth-child(3) {
    background-color: #C7BDAF;
}

.fixed-action-btn ul li:nth-child(3):hover {
    background-color: #c0b283;
}


@media only screen and (max-width: 640px) {
    #index-circle {
        display: block;
        width: 80%;
        margin: 0 auto;
        position: static;
    }

    header {
        display: none;
    }

    footer {
        display: block;
    }
}