@font-face {
    font-family: 'aqua';
    src: url(D:/Practice/Pomodoro/fonts/aqua.ttf) format("truetype");
}

body {
    background-color: #f4f4f4;
    font-family: 'aqua', 'Raleway', sans-serif;
}

header {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 3.5em;
    color: #373737;
}

.btn {
    background-color: #dcd0c0;
    color: #373737;
    font-family: 'Raleway';
    font-weight: bold;
}

.btn:hover {
    background-color: #c0b283;
}

.buttons {
    margin: 0 auto;
    text-align: center;
}

#timer {
    color: #373737;
    font-size: 7.5em;
    margin: 0 auto;
    text-align: center;
    text-shadow: 1px 1px 1px #dcd0c0;
}

#index-circle {
    position: fixed;
    width: 60px;
    height: 60px;
    color: #373737;
    top: 10px;
    left: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    line-height: 60px;
    text-shadow: 1px 1px 2px #dcd0c0;
    transition: 1s, color 0.5s;
}

#index-circle.animate {
    
    transform: scale(1.2);
    color: #c0b283;
}